
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'PT Serif', serif;
}


main{
  min-height: 80vh;
}

.header{
  top:0;
  position: sticky;
  width: 100%;
  z-index: 100;
  min-height: 10vh;
}


.footer{
  bottom: 0;
  position: sticky;
  width: 100%;
  background-color: black;
  color:white;
  min-height: 10vh;
  
}

.form{
  border: 0.1px solid grey;
  padding:20px 25px;
  margin-top: 5rem !important;
  
}

.form-register{
  border: 0.1px solid grey;
  padding:20px 25px;
  margin-top: 2rem !important;
}




